.header_wrapper{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color:whitesmoke;
}

.header_logo{
    margin-left: 48px;
}

.header_search{
    display: flex;
    height:38px;
    padding:10px;
    align-items: center;
    align-text: center;
}

.header_searchContainer{
    display:flex;
    align-items: center;
    height:20px;
    border:1px solid #31363A;
    border-radius:4px;
    padding:5px;
    width:375px;
}

.header_searchContainer > .MuiSvgIcon-root{
    color: gray;
    height: 20px;
    padding: 0 7px;
    margin-left: -1.2rem;
    display: flex;
    width: 20%;

}

.header_searchContainer > input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left:5px;
    margin-right:5px;
    color: goldenrod;
}


.header_searchContainer > input:focus{
    outline: none;
}

.header_menuItems{
    margin-right: 48px;

}

.header_menuItems a{
    color: goldenrod;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;

}

.header_menuItems a:hover,
.header_menuItems a:active{
    color: gold;
}